## Welcome to Coding Exercise 4
**You only need to solve 2 question only**

### Question 1. 
### "Shifting Members of an Array"

In this question, we want to shift our array to the right. How many times? Depends on the input. 

##### Example 1:
array = [1,2,3,4,5]
steps = 3

We need to shift the array 3 steps to the right. 
- Original array = [1,2,3,4,5]
- Step 1 = [5,1,2,3,4]
- Step 2 = [4,5,1,2,3]
- Step 3 = [3,4,5,1,2]

Answer = [3,4,5,1,2]

##### Example 2:
array = [1,2,3]
steps = 5

We need to shift the array 5 steps to the right.

- Original array = [1,2,3]
- Step 1 = [3,1,2]
- Step 2 = [2,3,1]
- Step 3 = [1,2,3]
- Step 4 = [3,1,2]
- Step 5 = [2,3,1]

Answer = [2,3,1]

In [1]:
### Write your function here ###
def shift(array, steps):
    for i in range(steps):
      array.insert(0, array.pop())
    return array

In [2]:
shift([1,2,3,4,5],4)

# Expected Output: [2, 3, 4, 5, 1]

[2, 3, 4, 5, 1]

In [3]:
shift(['andi', 'budi', 'charlie', 'doni'],7)

# Expected Output: ['budi', 'charlie', 'doni', 'andi']

['budi', 'charlie', 'doni', 'andi']

In [4]:
shift(['di', 'bim', 'bing', 123, 'data', 'science'],10)

# Expected Output: ['bing', 123, 'data', 'science', 'di', 'bim']

['bing', 123, 'data', 'science', 'di', 'bim']

### Question 2. 
### "Segitiga Paskal"

We want to generate the n-th row of "Pascal's Triangle". Your function name should be ```pascal```. For those who does not know pascal triangle, watch this video: https://www.youtube.com/watch?v=1D3KsvfB8b0 and read https://www.mathsisfun.com/pascals-triangle.html 

##### Example 1:
Input = 4,

Answer = [1,4,6,4,1]

##### Example 2:
input = 3,

Answer = [1,3,3,1]

In [6]:
### Solution

def pascal(input):
  list = []
  for row in range(input + 1):
    if row == 0:
      list.append([1])
    elif row == 1:
      list.append([1, 1])
    else:
      newrow = []
      for column in range(row +  1):
        if column == 0 or column == row:
          newrow.append(1)
        else:
          newrow.append(list[row-1][column-1] + list[row-1][column])
      list.append(newrow)
  return list[input]

In [12]:
pascal(2)

[1, 2, 1]

In [14]:
for i in range(10):
    print(pascal(i))

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

### Question 3

### "Maximum Distance Between 3 Points"

Given three coordinates, determine which two points are the furthest apart, and output the length of their distance. Your function should be called ```max_distance```. First coordinate is called 'A', second coordinate is called 'B', third coordinate is called 'C'. 


##### Example:
A = [1,2],
B = [10,-10],
C = [-3, 5]

- The distance between AB = 15
- The distance between BC = 19.8
- The distance between AC = 5.0

Answer = "The point A, B are furthest apart with distance 19.8"

In [16]:
### Write your solution here ###
import numpy as np

def max_distance(A,B,C):
  AB = np.sqrt((A[0]-B[0])**2 + (A[1]-B[1])**2)
  AC = np.sqrt((A[0]-C[0])**2 + (A[1]-C[1])**2)
  BC = np.sqrt((B[0]-C[0])**2 + (B[1]-C[1])**2)
  if AB > AC and AB > BC:
    print(f'The point A, B are the furthest apart with distance {AB}')
  elif AC > AB and AC > BC:
    print(f'The point A, C are the furthest apart with distance {AC}')
  elif BC > AB and BC > AC:
    print(f'The point B, C are the furthest apart with distance {BC}')
    #return

In [17]:
A = [1,2]
B = [10,-10]
C = [-3, 5]
max_distance(A,B,C)

The point B, C are the furthest apart with distance 19.849433241279208